<!DOCTTYPE html>
	<head>	
		<title>TASK-1</title>
	</head>
		<style>
			h4{
				font: 15px calibri;
			}
			#w{
				color:red;
				font-size:28px;
				font: 30px calibri;
			}
			#d{
				color:red;
				font-weight:bold;
				font: 20px calibri;
			}
		</style>
	<body>
		<h1>X-241 Dog Robot</h1>
		<h2>Overview</h2>
		<h4>The X-241 is the perfect canine pal for the busy billionare.</h4>
		<h2>Details</h2>
		<h4>Lorem ipsum  dolor sit amet, consectetur adipiscing elit.Aliquam scelerisque bibendum nibh, et pellentesque elit placerat at. Proin vel enim orci, afermentum lectus.Aenean posuere adipiscing mauris volutpat volutpat.</h4>
		<p id = "w" ><b>Warnings</b></p>
		<ul id="d">
			<li> Do not immerse in water. </li>
			<li> Do no eat </li>
			<li> Does not exist </li>
		</ul>
	</body>
</html>